{% extends 'base.html' %}

{% block title %}Lista de produtos {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
            <h3>Lista de produtos</h3>
            <ul class="list-group">
                {% for produto in produtos %}
                    <li class="list-group-item">
                        <a href="{%url 'produto_update' produto.id %}">
                            {{produto.descricao}}:  
                        </a>   R$ {{produto.preco}}  Estoque:   {{produto.estoque}}
                    
                        <a href="{% url 'produto_delete' produto.id %}" >
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                   
                {% endfor %}
            </ul>
            <br>
            <a href="{% url 'produto_new' %}" class="btn btn-primary">Cadastrar</a>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
                 <p>Ola {{user.username}} <a href="{% url 'logout' %}">
                    <span class="badge badge-dark">Sair</span>
                 </a></p>
        {% endif %}

        
        </div>
        
    </div>

    
   

{% endblock %}